.commonTraits{border-radius:10px;border:1px solid green;padding:10px}header{color:#274D87;border-radius:10px;border:1px solid green;padding:10px}footer{color:#3264AF;border-radius:10px;border:1px solid green;padding:10px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
